<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">© 2024 Company, Inc</p>

        <a href="/"
            class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_382_2)">
                    <path
                        d="M10.5022 30.7715C10.5022 33.3008 8.13616 35.3711 5.24554 35.3711C2.35491 35.3711 0 33.3008 0 30.7715C0 28.2422 2.36607 26.1719 5.2567 26.1719H10.5134V30.7715H10.5022ZM13.1473 30.7715C13.1473 28.2422 15.5134 26.1719 18.404 26.1719C21.2946 26.1719 23.6607 28.2422 23.6607 30.7715V42.2754C23.6607 44.8047 21.2946 46.875 18.404 46.875C15.5134 46.875 13.1473 44.8047 13.1473 42.2754V30.7715ZM18.404 12.3145C15.5134 12.3145 13.1473 10.2441 13.1473 7.71484C13.1473 5.18555 15.5134 3.125 18.404 3.125C21.2946 3.125 23.6607 5.19531 23.6607 7.72461V12.3242H18.404V12.3145ZM18.404 14.6289C21.2946 14.6289 23.6607 16.6992 23.6607 19.2285C23.6607 21.7578 21.2946 23.8281 18.404 23.8281H5.2567C2.36607 23.8281 0 21.7578 0 19.2285C0 16.6992 2.36607 14.6289 5.2567 14.6289H18.404ZM39.4978 19.2285C39.4978 16.6992 41.8638 14.6289 44.7545 14.6289C47.6451 14.6289 50.0112 16.6992 50.0112 19.2285C50.0112 21.7578 47.6451 23.8281 44.7545 23.8281H39.4978V19.2285ZM36.8527 19.2285C36.8527 21.7578 34.4866 23.8281 31.596 23.8281C28.7054 23.8281 26.3393 21.7578 26.3393 19.2285V7.72461C26.3393 5.19531 28.7054 3.125 31.596 3.125C34.4866 3.125 36.8527 5.19531 36.8527 7.72461V19.2285ZM31.596 37.6855C34.4866 37.6855 36.8527 39.7559 36.8527 42.2852C36.8527 44.8145 34.4866 46.8848 31.596 46.8848C28.7054 46.8848 26.3393 44.8145 26.3393 42.2852V37.6855H31.596ZM31.596 35.3711C28.7054 35.3711 26.3393 33.3008 26.3393 30.7715C26.3393 28.2422 28.7054 26.1719 31.596 26.1719H44.7433C47.6339 26.1719 50 28.2422 50 30.7715C50 33.3008 47.6339 35.3711 44.7433 35.3711H31.596Z"
                        fill="black" />
                </g>
                <defs>
                    <clipPath id="clip0_382_2">
                        <rect width="50" height="50" fill="white" />
                    </clipPath>
                </defs>
            </svg>

        </a>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
    </footer>
</div>